<div class="row">
  <div class="col s6 offset-s3">
    <div class="card">
      <div class="cord s6 login-header">
        Login
      </div>
      <div class="card-content">
        <form #loginForm="ngForm" (ngSubmit)="login(username.value,password.value)">
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">person</i>
              <input type="text" name="username" #username ngModel required>
              <label>Username</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">remove_red_eye</i>
              <input type="password" name="password" #password ngModel required>
              <label>Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <button class="btn-large btn-submit" type="submit" [disabled]="!loginForm.valid">Login
              </button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
